In [1]:
#Import Dependencies
%matplotlib inline
import os
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
import json
from pprint import pprint
from datetime import datetime
from datetime import timedelta 
import time
import matplotlib.pyplot as plt

In [2]:
#Variables
start_date = "2008-01-01"
initial_date = datetime(2008, 1, 1)
end_date = (datetime.today() - timedelta(days = 2)).date()
print(str(initial_date.date()))

2008-01-01

In [3]:
executable_path = {'executable_path': 'C:/Users/joaquin/OneDrive/Curso/Proy_final/chromedriver.exe'}
browser = Browser('chrome', **executable_path)

In [4]:
#Banxico URL
url = 'https://www.banxico.org.mx/publicaciones-y-prensa/anuncios-de-las-decisiones-de-politica-monetaria/anuncios-politica-monetaria-t.html'
browser.visit(url)
api_url = "https://www.banxico.org.mx/SieAPIRest/service/v1/series/"
banxico_key = "85c8edeab72128102cdad764f0a2d4532c336d22690a51104b500fb6f077ed4c"

In [5]:
html = browser.html
soup = bs(html, 'html.parser')

In [6]:
links = []
for link in soup.find_all('a'):
    if ('/publicaciones-y-prensa/anuncios-de-las-decisiones-de-politica-monetaria') in link.get('href'):
        partial_link = link.get('href')
        links.append('http://www.banxico.org.mx' + partial_link)
links = links[1:]
#links

In [7]:
dates = []
for date in soup.find_all("td"):
    data = date.get_text()
    dates.append(data)
del dates[1::2]

In [8]:
import re
dates2 = []
for index in range(len(dates)):
    dates2.append(re.sub("\s", "", dates[index]))

In [9]:
dates3 = []
for index in range(len(dates)):
    dates3.append(re.sub("[\/]", "", dates2[index])) 
#print(dates3)

In [ ]:
name_counter = 0
for i in links:
    r = requests.get(i)
    out_file = open(f'{dates3[name_counter]}.pdf', 'wb')
    out_file.write(r.content)
    name_counter += 1

In [ ]:
#Guillermo 
#pdf to text

In [23]:
final_dates = []
for date in dates2:
    dates = datetime.strptime(date, "%d/%m/%y")
    if dates > initial_date:
        final_dates.append(datetime.strftime(dates, "%Y-%m-%d"))
final_dates.append(datetime.strftime(end_date, "%Y-%m-%d"))

In [11]:
#MXN Lvl
Series = "SF43788"

fxt = []
for fecha in final_dates:
    url_consulta = [f"{api_url}{Series}/datos/{fecha}/{fecha}?token={banxico_key}"]
    for query in url_consulta: 
        data = requests.get(query).json()
        fxt.append(data["bmx"]["series"][0]["datos"][0]["dato"])
time.sleep(120) #tiempo del API

In [12]:
Series = "SF43878"

tasa = []
for fecha in final_dates:
    try:
        url_consulta = [f"{api_url}{Series}/datos/{fecha}/{fecha}?token={banxico_key}"]
        for query in url_consulta: 
            data = requests.get(query).json()
            tasa.append(data["bmx"]["series"][0]["datos"][0]["dato"])
    except:
        tasa.append(0)
time.sleep(120) #tiempo del API

In [27]:
Series = "SP30578"

#Total Data
total_query_url = f"{api_url}{Series}/datos/{start_date}/{end_date}?token={banxico_key}"
total_data = requests.get(total_query_url).json()
#print(total_data)
data_total = total_data['bmx']['series'][0]['datos']
data_total

[{'fecha': '01/01/2008', 'dato': '3.70000000'},
 {'fecha': '01/02/2008', 'dato': '3.72000000'},
 {'fecha': '01/03/2008', 'dato': '4.25000000'},
 {'fecha': '01/04/2008', 'dato': '4.55000000'},
 {'fecha': '01/05/2008', 'dato': '4.95000000'},
 {'fecha': '01/06/2008', 'dato': '5.26000000'},
 {'fecha': '01/07/2008', 'dato': '5.39000000'},
 {'fecha': '01/08/2008', 'dato': '5.57000000'},
 {'fecha': '01/09/2008', 'dato': '5.47000000'},
 {'fecha': '01/10/2008', 'dato': '5.78000000'},
 {'fecha': '01/11/2008', 'dato': '6.23000000'},
 {'fecha': '01/12/2008', 'dato': '6.53000000'},
 {'fecha': '01/01/2009', 'dato': '6.28000000'},
 {'fecha': '01/02/2009', 'dato': '6.20000000'},
 {'fecha': '01/03/2009', 'dato': '6.04000000'},
 {'fecha': '01/04/2009', 'dato': '6.17000000'},
 {'fecha': '01/05/2009', 'dato': '5.98000000'},
 {'fecha': '01/06/2009', 'dato': '5.74000000'},
 {'fecha': '01/07/2009', 'dato': '5.44000000'},
 {'fecha': '01/08/2009', 'dato': '5.08000000'},
 {'fecha': '01/09/2009', 'dato': '4.89000000'},
 {'fecha': '01/10/2009', 'dato': '4.50000000'},
 {'fecha': '01/11/2009', 'dato': '3.86000000'},
 {'fecha': '01/12/2009', 'dato': '3.57000000'},
 {'fecha': '01/01/2010', 'dato': '4.46000000'},
 {'fecha': '01/02/2010', 'dato': '4.83000000'},
 {'fecha': '01/03/2010', 'dato': '4.97000000'},
 {'fecha': '01/04/2010', 'dato': '4.27000000'},
 {'fecha': '01/05/2010', 'dato': '3.92000000'},
 {'fecha': '01/06/2010', 'dato': '3.69000000'},
 {'fecha': '01/07/2010', 'dato': '3.64000000'},
 {'fecha': '01/08/2010', 'dato': '3.68000000'},
 {'fecha': '01/09/2010', 'dato': '3.70000000'},
 {'fecha': '01/10/2010', 'dato': '4.02000000'},
 {'fecha': '01/11/2010', 'dato': '4.32000000'},
 {'fecha': '01/12/2010', 'dato': '4.40000000'},
 {'fecha': '01/01/2011', 'dato': '3.78000000'},
 {'fecha': '01/02/2011', 'dato': '3.57000000'},
 {'fecha': '01/03/2011', 'dato': '3.04000000'},
 {'fecha': '01/04/2011', 'dato': '3.36000000'},
 {'fecha': '01/05/2011', 'dato': '3.25000000'},
 {'fecha': '01/06/2011', 'dato': '3.28000000'},
 {'fecha': '01/07/2011', 'dato': '3.55000000'},
 {'fecha': '01/08/2011', 'dato': '3.42000000'},
 {'fecha': '01/09/2011', 'dato': '3.14000000'},
 {'fecha': '01/10/2011', 'dato': '3.20000000'},
 {'fecha': '01/11/2011', 'dato': '3.48000000'},
 {'fecha': '01/12/2011', 'dato': '3.82000000'},
 {'fecha': '01/01/2012', 'dato': '4.05000000'},
 {'fecha': '01/02/2012', 'dato': '3.87000000'},
 {'fecha': '01/03/2012', 'dato': '3.73000000'},
 {'fecha': '01/04/2012', 'dato': '3.41000000'},
 {'fecha': '01/05/2012', 'dato': '3.85000000'},
 {'fecha': '01/06/2012', 'dato': '4.34000000'},
 {'fecha': '01/07/2012', 'dato': '4.42000000'},
 {'fecha': '01/08/2012', 'dato': '4.57000000'},
 {'fecha': '01/09/2012', 'dato': '4.77000000'},
 {'fecha': '01/10/2012', 'dato': '4.60000000'},
 {'fecha': '01/11/2012', 'dato': '4.18000000'},
 {'fecha': '01/12/2012', 'dato': '3.57000000'},
 {'fecha': '01/01/2013', 'dato': '3.25000000'},
 {'fecha': '01/02/2013', 'dato': '3.55000000'},
 {'fecha': '01/03/2013', 'dato': '4.25000000'},
 {'fecha': '01/04/2013', 'dato': '4.65000000'},
 {'fecha': '01/05/2013', 'dato': '4.63000000'},
 {'fecha': '01/06/2013', 'dato': '4.09000000'},
 {'fecha': '01/07/2013', 'dato': '3.47000000'},
 {'fecha': '01/08/2013', 'dato': '3.46000000'},
 {'fecha': '01/09/2013', 'dato': '3.39000000'},
 {'fecha': '01/10/2013', 'dato': '3.36000000'},
 {'fecha': '01/11/2013', 'dato': '3.62000000'},
 {'fecha': '01/12/2013', 'dato': '3.97000000'},
 {'fecha': '01/01/2014', 'dato': '4.48000000'},
 {'fecha': '01/02/2014', 'dato': '4.23000000'},
 {'fecha': '01/03/2014', 'dato': '3.76000000'},
 {'fecha': '01/04/2014', 'dato': '3.50000000'},
 {'fecha': '01/05/2014', 'dato': '3.51000000'},
 {'fecha': '01/06/2014', 'dato': '3.75000000'},
 {'fecha': '01/07/2014', 'dato': '4.07000000'},
 {'fecha': '01/08/2014', 'dato': '4.15000000'},
 {'fecha': '01/09/2014', 'dato': '4.22000000'},
 {'fecha': '01/10/2014', 'dato': '4.30000000'},
 {'fecha': '01/11/2014', 'dato': '4.17000000'},
 {'fecha': '01/12/2014', 'dato': '4.08000000'},
 {'fecha': '01/01/2015', 'dato': '3.07000000'},
 {'fecha': '01/02/2015', 'dato': '3.00000000'},
 {'fecha': '01/03/2015', 'dato': '3.14000000'},
 {'fecha': '01/04/2015', 'dato': '3.06000000'},
 {'fecha': '01/05/2015', 'dato': '2.88000000'},
 {'fecha': '01/06/2015', 'dato': '2.87000000'},
 {'fecha': '01/07/2015', 'dato': '2.74000000'},
 {'fecha': '01/08/2015', 'dato': '2.59000000'},
 {'fecha': '01/09/2015', 'dato': '2.52000000'},
 {'fecha': '01/10/2015', 'dato': '2.48000000'},
 {'fecha': '01/11/2015', 'dato': '2.21000000'},
 {'fecha': '01/12/2015', 'dato': '2.13000000'},
 {'fecha': '01/01/2016', 'dato': '2.61000000'},
 {'fecha': '01/02/2016', 'dato': '2.87000000'},
 {'fecha': '01/03/2016', 'dato': '2.60000000'},
 {'fecha': '01/04/2016', 'dato': '2.54000000'},
 {'fecha': '01/05/2016', 'dato': '2.60000000'},
 {'fecha': '01/06/2016', 'dato': '2.54000000'},
 {'fecha': '01/07/2016', 'dato': '2.65000000'},
 {'fecha': '01/08/2016', 'dato': '2.73000000'},
 {'fecha': '01/09/2016', 'dato': '2.97000000'},
 {'fecha': '01/10/2016', 'dato': '3.06000000'},
 {'fecha': '01/11/2016', 'dato': '3.31000000'},
 {'fecha': '01/12/2016', 'dato': '3.36000000'},
 {'fecha': '01/01/2017', 'dato': '4.72000000'},
 {'fecha': '01/02/2017', 'dato': '4.86000000'},
 {'fecha': '01/03/2017', 'dato': '5.35000000'},
 {'fecha': '01/04/2017', 'dato': '5.82000000'},
 {'fecha': '01/05/2017', 'dato': '6.16000000'},
 {'fecha': '01/06/2017', 'dato': '6.31000000'},
 {'fecha': '01/07/2017', 'dato': '6.44000000'},
 {'fecha': '01/08/2017', 'dato': '6.66000000'},
 {'fecha': '01/09/2017', 'dato': '6.35000000'},
 {'fecha': '01/10/2017', 'dato': '6.37000000'},
 {'fecha': '01/11/2017', 'dato': '6.63000000'},
 {'fecha': '01/12/2017', 'dato': '6.77000000'},
 {'fecha': '01/01/2018', 'dato': '5.55000000'},
 {'fecha': '01/02/2018', 'dato': '5.34000000'},
 {'fecha': '01/03/2018', 'dato': '5.04000000'},
 {'fecha': '01/04/2018', 'dato': '4.55000000'},
 {'fecha': '01/05/2018', 'dato': '4.51000000'},
 {'fecha': '01/06/2018', 'dato': '4.65000000'},
 {'fecha': '01/07/2018', 'dato': '4.81000000'},
 {'fecha': '01/08/2018', 'dato': '4.90000000'},
 {'fecha': '01/09/2018', 'dato': '5.02000000'},
 {'fecha': '01/10/2018', 'dato': '4.90000000'},
 {'fecha': '01/11/2018', 'dato': '4.72000000'},
 {'fecha': '01/12/2018', 'dato': '4.83000000'},
 {'fecha': '01/01/2019', 'dato': '4.37000000'},
 {'fecha': '01/02/2019', 'dato': '3.94000000'},
 {'fecha': '01/03/2019', 'dato': '4.00000000'},
 {'fecha': '01/04/2019', 'dato': '4.41000000'},
 {'fecha': '01/05/2019', 'dato': '4.28000000'},
 {'fecha': '01/06/2019', 'dato': '3.95000000'},
 {'fecha': '01/07/2019', 'dato': '3.78000000'},
 {'fecha': '01/08/2019', 'dato': '3.16000000'},
 {'fecha': '01/09/2019', 'dato': '3.00000000'},
 {'fecha': '01/10/2019', 'dato': '3.02000000'},
 {'fecha': '01/11/2019', 'dato': '2.97000000'},
 {'fecha': '01/12/2019', 'dato': '2.83000000'},
 {'fecha': '01/01/2020', 'dato': '3.24000000'},
 {'fecha': '01/02/2020', 'dato': '3.70000000'},
 {'fecha': '01/03/2020', 'dato': '3.25000000'},
 {'fecha': '01/04/2020', 'dato': '2.15000000'}]

In [28]:
#Match fechas
data_total_df = pd.DataFrame(data_total)
data_total_df['fecha'] = pd.to_datetime(data_total_df['fecha'], format='%d/%m/%Y')
data_total_df['key'] = pd.to_datetime(data_total_df['fecha']).dt.to_period('M')

           dato      fecha     key
0    3.70000000 2008-01-01 2008-01
1    3.72000000 2008-02-01 2008-02
2    4.25000000 2008-03-01 2008-03
3    4.55000000 2008-04-01 2008-04
4    4.95000000 2008-05-01 2008-05
5    5.26000000 2008-06-01 2008-06
6    5.39000000 2008-07-01 2008-07
7    5.57000000 2008-08-01 2008-08
8    5.47000000 2008-09-01 2008-09
9    5.78000000 2008-10-01 2008-10
10   6.23000000 2008-11-01 2008-11
11   6.53000000 2008-12-01 2008-12
12   6.28000000 2009-01-01 2009-01
13   6.20000000 2009-02-01 2009-02
14   6.04000000 2009-03-01 2009-03
15   6.17000000 2009-04-01 2009-04
16   5.98000000 2009-05-01 2009-05
17   5.74000000 2009-06-01 2009-06
18   5.44000000 2009-07-01 2009-07
19   5.08000000 2009-08-01 2009-08
20   4.89000000 2009-09-01 2009-09
21   4.50000000 2009-10-01 2009-10
22   3.86000000 2009-11-01 2009-11
23   3.57000000 2009-12-01 2009-12
24   4.46000000 2010-01-01 2010-01
25   4.83000000 2010-02-01 2010-02
26   4.97000000 2010-03-01 2010-03
27   4.27000000 2010-04-01 2010-04
28   3.92000000 2010-05-01 2010-05
29   3.69000000 2010-06-01 2010-06
..          ...        ...     ...
118  6.63000000 2017-11-01 2017-11
119  6.77000000 2017-12-01 2017-12
120  5.55000000 2018-01-01 2018-01
121  5.34000000 2018-02-01 2018-02
122  5.04000000 2018-03-01 2018-03
123  4.55000000 2018-04-01 2018-04
124  4.51000000 2018-05-01 2018-05
125  4.65000000 2018-06-01 2018-06
126  4.81000000 2018-07-01 2018-07
127  4.90000000 2018-08-01 2018-08
128  5.02000000 2018-09-01 2018-09
129  4.90000000 2018-10-01 2018-10
130  4.72000000 2018-11-01 2018-11
131  4.83000000 2018-12-01 2018-12
132  4.37000000 2019-01-01 2019-01
133  3.94000000 2019-02-01 2019-02
134  4.00000000 2019-03-01 2019-03
135  4.41000000 2019-04-01 2019-04
136  4.28000000 2019-05-01 2019-05
137  3.95000000 2019-06-01 2019-06
138  3.78000000 2019-07-01 2019-07
139  3.16000000 2019-08-01 2019-08
140  3.00000000 2019-09-01 2019-09
141  3.02000000 2019-10-01 2019-10
142  2.97000000 2019-11-01 2019-11
143  2.83000000 2019-12-01 2019-12
144  3.24000000 2020-01-01 2020-01
145  3.70000000 2020-02-01 2020-02
146  3.25000000 2020-03-01 2020-03
147  2.15000000 2020-04-01 2020-04

[148 rows x 3 columns]

In [24]:

Banxico_dict = {"MXN": fxt,  "Tasa": tasa }
                
Banxico_data = pd.DataFrame(Banxico_dict)
Banxico_data["Fecha"] = final_dates

Banxico_data = Banxico_data[['Fecha', 'MXN', "Tasa"]]
Banxico_data = Banxico_data.sort_values('Fecha')
Banxico_data = Banxico_data[Banxico_data.Tasa != 0]
Banxico_data = Banxico_data.reset_index(drop = True)

In [ ]:
#Xime Word count feed a este DF

In [25]:

Banxico_data['Inflacion'] = 0
#Banxico_data['Crecimiento'] = 0
#Banxico_data['Desempleo'] = 0
Banxico_data['Dif'] = 0
Banxico_data['Tasa'] = Banxico_data['Tasa'].astype(float)
Banxico_data

         Fecha      MXN    Tasa  Inflacion  Dif
0   2009-11-27  12.9370  5.0650          0    0
1   2010-01-15  12.7040  5.0825          0    0
2   2010-02-19  12.8085  5.0750          0    0
3   2010-03-19  12.5685  5.0300          0    0
4   2010-04-16  12.2810  5.0200          0    0
5   2010-05-21  13.0130  5.0265          0    0
6   2010-06-18  12.5270  4.9850          0    0
7   2010-07-16  12.9310  5.0100          0    0
8   2010-08-20  12.7850  5.0200          0    0
9   2010-09-24  12.5500  4.9600          0    0
10  2010-10-15  12.4305  4.9100          0    0
11  2010-11-26  12.4850  4.9295          0    0
12  2011-01-21  12.0775  4.9300          0    0
13  2011-03-04  11.9992  4.8625          0    0
14  2011-04-15  11.6727  4.8696          0    0
15  2011-05-27  11.6155  4.9100          0    0
16  2011-07-08  11.6215  4.8850          0    0
17  2011-08-26  12.4795  4.8250          0    0
18  2011-10-14  13.2574  4.8125          0    0
19  2011-12-02  13.5297  4.8175          0    0
20  2012-01-20  13.1788  4.8000          0    0
21  2012-03-16  12.6782  4.7900          0    0
22  2012-04-27  12.9800  4.7435          0    0
23  2012-06-08  13.9290  4.7850          0    0
24  2012-07-20  13.3391  4.7936          0    0
25  2012-09-07  12.9824  4.8150          0    0
26  2012-10-26  13.0070  4.8450          0    0
27  2012-11-30  12.9370  4.8600          0    0
28  2013-01-18  12.6640  4.8505          0    0
29  2013-03-08  12.6300  4.7515          0    0
..         ...      ...     ...        ...  ...
59  2016-11-17  20.4060  5.7245          0    0
60  2016-12-15  20.3765  5.8732          0    0
61  2017-02-09  20.3695  6.3850          0    0
62  2017-03-30  18.6670  6.8498          0    0
63  2017-05-18  18.7205  6.9541          0    0
64  2017-06-22  18.0475  7.3109          0    0
65  2017-08-10  17.9035  7.3846          0    0
66  2017-09-28  18.1730  7.3850          0    0
67  2017-11-09  19.0580  7.4163          0    0
68  2017-12-14  19.0390  7.5470          0    0
69  2018-02-08  18.8535  7.7627          0    0
70  2018-04-12  18.1865  7.8500          0    0
71  2018-05-17  19.6740  7.8950          0    0
72  2018-06-21  20.2455  8.0250          0    0
73  2018-08-02  18.6080  8.1537          0    0
74  2018-10-04  19.1650  8.1600          0    0
75  2018-11-15  20.2110  8.3228          0    0
76  2018-12-20  19.9285  8.4750          0    0
77  2019-02-07  19.1375  8.5967          0    0
78  2019-03-28  19.3440  8.5040          0    0
79  2019-05-16  19.0565  8.5146          0    0
80  2019-06-27  19.1430  8.4900          0    0
81  2019-08-15  19.6655  8.3750          0    0
82  2019-09-26  19.6185  8.0150          0    0
83  2019-11-14  19.3760  7.7287          0    0
84  2019-12-19  18.9480  7.5575          0    0
85  2020-02-13  18.6190  7.3550          0    0
86  2020-03-20  24.2160  7.0425          0    0
87  2020-04-21  24.3030  6.5015          0    0
88  2020-05-14  24.0500  6.0763          0    0

[89 rows x 5 columns]

In [ ]:
for i in range(1, len(Banxico_data) -1 ):
    Banxico_data.loc[i, 'Dif'] = 25 * round((100 * (Banxico_data.loc[i, 'Tasa'] - Banxico_data.loc[i+1, 'Tasa']))/25)

In [ ]:
Banxico_data

In [ ]:
# Assign X (data) and y (target)
X = Banxico_data.drop(["Dif", "Fecha"], axis=1)
y = Banxico_data["Dif"]
print(X.shape, y.shape)

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

In [ ]:
 classifier.fit(X_train, y_train)

In [ ]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

In [ ]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:50]}")
print(f"First 10 Actual labels: {y_test[:50].tolist()}")

In [ ]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)