In [1]:
import requests
import pandas as pd
import numpy as np

In [2]:
#API Banxico
banxico_key = "85c8edeab72128102cdad764f0a2d4532c336d22690a51104b500fb6f077ed4c"

In [3]:
url = "https://www.banxico.org.mx/SieAPIRest/service/v1/series/"

In [8]:
#Series
# amount of auction SF295380
total_auction = 'SP30578'
# assigned SF295380
assigned_auction = "SF295380"

In [9]:
#Fechas AAAA-MM-dd
#fecha_inicial = input(print("Fecha inicial consulta AAAA-MM-dd"))
start_date = "2008-01-01"
end_date = "2020-12-31"
#fecha_final = input(print("Fecha final consulta AAAA-MM-dd"))

In [11]:
#Total Data
total_query_url = f"{url}{total_auction}/datos/{start_date}/{end_date}?token={banxico_key}"
total_data = requests.get(total_query_url).json()
data_total = total_data['bmx']['series'][0]['datos']
data_total_df = pd.DataFrame(data_total)
data_total_df.rename(columns = {'fecha' : 'date', 'dato':'assigned'}, inplace = True)
#data_asignado_df.set_index('id', inplace = True)
data_total_df.head(20)

      assigned        date
0   3.70000000  01/01/2008
1   3.72000000  01/02/2008
2   4.25000000  01/03/2008
3   4.55000000  01/04/2008
4   4.95000000  01/05/2008
5   5.26000000  01/06/2008
6   5.39000000  01/07/2008
7   5.57000000  01/08/2008
8   5.47000000  01/09/2008
9   5.78000000  01/10/2008
10  6.23000000  01/11/2008
11  6.53000000  01/12/2008
12  6.28000000  01/01/2009
13  6.20000000  01/02/2009
14  6.04000000  01/03/2009
15  6.17000000  01/04/2009
16  5.98000000  01/05/2009
17  5.74000000  01/06/2009
18  5.44000000  01/07/2009
19  5.08000000  01/08/2009

In [12]:
final_dates = ['2020-05-14', '2020-04-21', '2020-03-20', '2020-02-13', '2019-12-19', '2019-11-14', '2019-09-26', '2019-08-15', '2019-06-27', '2019-05-16', '2019-03-28', '2019-02-07', '2018-12-20', '2018-11-15', '2018-10-04', '2018-08-02', '2018-06-21', '2018-05-17', '2018-04-12', '2018-02-08', '2017-12-14', '2017-11-09', '2017-09-28', '2017-08-10', '2017-06-22', '2017-05-18', '2017-03-30', '2017-02-09', '2016-12-15', '2016-11-17', '2016-09-29', '2016-08-11', '2016-06-30', '2016-05-05', '2016-03-18', '2016-02-17', '2016-02-04', '2015-12-17', '2015-10-29', '2015-09-21', '2015-07-30', '2015-06-04', '2015-04-30', '2015-03-26', '2015-01-29', '2014-12-05', '2014-10-31', '2014-09-05', '2014-07-11', '2014-06-06', '2014-04-25', '2014-03-21', '2014-01-31', '2013-12-06', '2013-10-25', '2013-09-06', '2013-07-12', '2013-06-07', '2013-04-26', '2013-03-08', '2013-01-18', '2012-11-30', '2012-10-26', '2012-09-07', '2012-07-20', '2012-06-08', '2012-04-27', '2012-03-16', '2012-01-20', '2011-12-02', '2011-10-14', '2011-08-26', '2011-07-08', '2011-05-27', '2011-04-15', '2011-03-04', '2011-01-21', '2010-11-26', '2010-10-15', '2010-09-24', '2010-08-20', '2010-07-16', '2010-06-18', '2010-05-21', '2010-04-16', '2010-03-19', '2010-02-19', '2010-01-15', '2009-11-27', '2009-10-16', '2009-09-18', '2009-08-21', '2009-07-17', '2009-06-19', '2009-05-15', '2009-04-17', '2009-03-20', '2009-02-20', '2009-01-16', '2008-11-28', '2008-10-17', '2008-09-19', '2008-08-15', '2008-07-18', '2008-06-20', '2008-05-16', '2008-04-18', '2008-03-14', '2008-02-15', '2008-01-18']