In [1]:
#Import Dependencies
%matplotlib inline
import os
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
import json
from pprint import pprint
from datetime import datetime
from datetime import timedelta 
import time
import matplotlib.pyplot as plt

import sys
import requests
import tabula
import io
import glob

#URLlib
import urllib
import urllib.request

#PDFminer
import pdfminer
from pdfminer.pdfpage import PDFPage
from pdfminer.pdfparser import PDFParser
from pdfminer.pdfdocument import PDFDocument
from pdfminer.pdfinterp import PDFResourceManager, PDFPageInterpreter
from pdfminer.layout import LAParams
from pdfminer.converter import TextConverter
from io import StringIO
from pdfminer.converter import PDFPageAggregator
from pdfminer.layout import LTTextBoxHorizontal
from subprocess import Popen, PIPE

In [17]:
#Variables
start_date = "2008-01-01"
initial_date = datetime(2008, 1, 1)
end_date = (datetime.today() - timedelta(days = 1)).date()
print(str(initial_date.date()))

2008-01-01

In [4]:
executable_path = {'executable_path': 'C:/Users/joaquin/OneDrive/Curso/Proy_final/chromedriver.exe'}
browser = Browser('chrome', **executable_path)

In [5]:
#Banxico URL
url = 'https://www.banxico.org.mx/publicaciones-y-prensa/anuncios-de-las-decisiones-de-politica-monetaria/anuncios-politica-monetaria-t.html'
browser.visit(url)
api_url = "https://www.banxico.org.mx/SieAPIRest/service/v1/series/"
banxico_key = "85c8edeab72128102cdad764f0a2d4532c336d22690a51104b500fb6f077ed4c"

In [6]:
html = browser.html
soup = bs(html, 'html.parser')

In [7]:
links = []
for link in soup.find_all('a'):
    if ('/publicaciones-y-prensa/anuncios-de-las-decisiones-de-politica-monetaria') in link.get('href'):
        partial_link = link.get('href')
        links.append('http://www.banxico.org.mx' + partial_link)
links = links[1:]
#links

In [8]:
dates = []
for date in soup.find_all("td"):
    data = date.get_text()
    dates.append(data)
del dates[1::2]

In [9]:
import re
dates2 = []
for index in range(len(dates)):
    dates2.append(re.sub("\s", "", dates[index]))

In [10]:
dates3 = []
for index in range(len(dates)):
    dates3.append(re.sub("[\/]", "", dates2[index])) 
#print(dates3)

In [11]:
#name_counter = 0
#for i in links:
    #r = requests.get(i)
   # out_file = open(f'{dates3[name_counter]}.pdf', 'wb')
    #out_file.write(r.content)
   # name_counter += 1

In [ ]:
#pdf to text
def convert_pdf_to_text(path):
    rsrcmgr = PDFResourceManager()
    retstr = io.StringIO()
    laparams = LAParams()
    device = TextConverter(rsrcmgr, retstr, laparams=laparams)
    fp = open(path, 'rb')
    interpreter = PDFPageInterpreter(rsrcmgr, device)

    password = ""
    maxpages = 0
    caching = True
    pagenos = set()
    for page in PDFPage.get_pages(fp, pagenos, maxpages=maxpages, password=password, caching=caching, check_extractable=True):
        interpreter.process_page(page)
    
    text = retstr.getvalue().replace('\n', ' ')

    fp.close()
    device.close()
    retstr.close()
    return text

In [ ]:
for root, dirs, files in os.walk("banxico_pdfs/"):
    for filename in files:
        print(filename)
        try:
            text_file = open("banxico_txts/"+filename+".txt", "w+")
            text_file.write(convert_pdf_to_text("banxico_pdfs/"+filename))
            text_file.close()
            print(filename+" done")
        except Exception as e:
            print(e)
            print(filename+" failed to complete")

In [12]:
final_dates = []
for date in dates2:
    dates = datetime.strptime(date, "%d/%m/%y")
    if dates > initial_date:
        final_dates.append(datetime.strftime(dates, "%Y-%m-%d"))
final_dates.append(datetime.strftime(end_date, "%Y-%m-%d"))

In [13]:
#MXN Lvl
Series = "SF43788"

fxt = []
for fecha in final_dates:
    url_consulta = [f"{api_url}{Series}/datos/{fecha}/{fecha}?token={banxico_key}"]
    for query in url_consulta: 
        data = requests.get(query).json()
        fxt.append(data["bmx"]["series"][0]["datos"][0]["dato"])
time.sleep(60) #tiempo del API

In [14]:
Series = "SF43878"

tasa = []
for fecha in final_dates:
    try:
        url_consulta = [f"{api_url}{Series}/datos/{fecha}/{fecha}?token={banxico_key}"]
        for query in url_consulta: 
            data = requests.get(query).json()
            tasa.append(data["bmx"]["series"][0]["datos"][0]["dato"])
    except:
        tasa.append(0)
time.sleep(60) #tiempo del API

In [21]:
Series = "SP30578"

#Total Data
total_query_url = f"{api_url}{Series}/datos/{start_date}/{end_date}?token={banxico_key}"
total_data = requests.get(total_query_url).json()
#print(total_data)
data_total = total_data['bmx']['series'][0]['datos']

In [22]:
#Match fechas

In [29]:

Banxico_dict = {"MXN": fxt,  "Tasa": tasa }
                
Banxico_data = pd.DataFrame(Banxico_dict)
Banxico_data["Fecha"] = final_dates
Banxico_data = Banxico_data[['Fecha', 'MXN', "Tasa"]]
Banxico_data = Banxico_data.sort_values('Fecha')
Banxico_data = Banxico_data[Banxico_data.Tasa != 0]
Banxico_data = Banxico_data.reset_index(drop = True)

In [ ]:
#Xime Word count feed a este DF

In [30]:

Banxico_data['Inflacion'] = 0
#Banxico_data['Crecimiento'] = 0
#Banxico_data['Desempleo'] = 0
Banxico_data['Dif'] = 0
Banxico_data['Tasa'] = Banxico_data['Tasa'].astype(float)
Banxico_data

         Fecha      MXN    Tasa  Inflacion  Dif
0   2009-11-27  12.9370  5.0650          0    0
1   2010-01-15  12.7040  5.0825          0    0
2   2010-02-19  12.8085  5.0750          0    0
3   2010-03-19  12.5685  5.0300          0    0
4   2010-04-16  12.2810  5.0200          0    0
5   2010-05-21  13.0130  5.0265          0    0
6   2010-06-18  12.5270  4.9850          0    0
7   2010-07-16  12.9310  5.0100          0    0
8   2010-08-20  12.7850  5.0200          0    0
9   2010-09-24  12.5500  4.9600          0    0
10  2010-10-15  12.4305  4.9100          0    0
11  2010-11-26  12.4850  4.9295          0    0
12  2011-01-21  12.0775  4.9300          0    0
13  2011-03-04  11.9992  4.8625          0    0
14  2011-04-15  11.6727  4.8696          0    0
15  2011-05-27  11.6155  4.9100          0    0
16  2011-07-08  11.6215  4.8850          0    0
17  2011-08-26  12.4795  4.8250          0    0
18  2011-10-14  13.2574  4.8125          0    0
19  2011-12-02  13.5297  4.8175          0    0
20  2012-01-20  13.1788  4.8000          0    0
21  2012-03-16  12.6782  4.7900          0    0
22  2012-04-27  12.9800  4.7435          0    0
23  2012-06-08  13.9290  4.7850          0    0
24  2012-07-20  13.3391  4.7936          0    0
25  2012-09-07  12.9824  4.8150          0    0
26  2012-10-26  13.0070  4.8450          0    0
27  2012-11-30  12.9370  4.8600          0    0
28  2013-01-18  12.6640  4.8505          0    0
29  2013-03-08  12.6300  4.7515          0    0
..         ...      ...     ...        ...  ...
59  2016-11-17  20.4060  5.7245          0    0
60  2016-12-15  20.3765  5.8732          0    0
61  2017-02-09  20.3695  6.3850          0    0
62  2017-03-30  18.6670  6.8498          0    0
63  2017-05-18  18.7205  6.9541          0    0
64  2017-06-22  18.0475  7.3109          0    0
65  2017-08-10  17.9035  7.3846          0    0
66  2017-09-28  18.1730  7.3850          0    0
67  2017-11-09  19.0580  7.4163          0    0
68  2017-12-14  19.0390  7.5470          0    0
69  2018-02-08  18.8535  7.7627          0    0
70  2018-04-12  18.1865  7.8500          0    0
71  2018-05-17  19.6740  7.8950          0    0
72  2018-06-21  20.2455  8.0250          0    0
73  2018-08-02  18.6080  8.1537          0    0
74  2018-10-04  19.1650  8.1600          0    0
75  2018-11-15  20.2110  8.3228          0    0
76  2018-12-20  19.9285  8.4750          0    0
77  2019-02-07  19.1375  8.5967          0    0
78  2019-03-28  19.3440  8.5040          0    0
79  2019-05-16  19.0565  8.5146          0    0
80  2019-06-27  19.1430  8.4900          0    0
81  2019-08-15  19.6655  8.3750          0    0
82  2019-09-26  19.6185  8.0150          0    0
83  2019-11-14  19.3760  7.7287          0    0
84  2019-12-19  18.9480  7.5575          0    0
85  2020-02-13  18.6190  7.3550          0    0
86  2020-03-20  24.2160  7.0425          0    0
87  2020-04-21  24.3030  6.5015          0    0
88  2020-05-14  24.0500  6.0763          0    0

[89 rows x 5 columns]

In [31]:
for i in range(1, len(Banxico_data) -1 ):
    Banxico_data.loc[i, 'Dif'] = 25 * round((100 * (Banxico_data.loc[i, 'Tasa'] - Banxico_data.loc[i+1, 'Tasa']))/25)

In [32]:
Banxico_data

         Fecha      MXN    Tasa  Inflacion   Dif
0   2009-11-27  12.9370  5.0650          0   0.0
1   2010-01-15  12.7040  5.0825          0   0.0
2   2010-02-19  12.8085  5.0750          0   0.0
3   2010-03-19  12.5685  5.0300          0   0.0
4   2010-04-16  12.2810  5.0200          0  -0.0
5   2010-05-21  13.0130  5.0265          0   0.0
6   2010-06-18  12.5270  4.9850          0  -0.0
7   2010-07-16  12.9310  5.0100          0  -0.0
8   2010-08-20  12.7850  5.0200          0   0.0
9   2010-09-24  12.5500  4.9600          0   0.0
10  2010-10-15  12.4305  4.9100          0  -0.0
11  2010-11-26  12.4850  4.9295          0  -0.0
12  2011-01-21  12.0775  4.9300          0   0.0
13  2011-03-04  11.9992  4.8625          0  -0.0
14  2011-04-15  11.6727  4.8696          0  -0.0
15  2011-05-27  11.6155  4.9100          0   0.0
16  2011-07-08  11.6215  4.8850          0   0.0
17  2011-08-26  12.4795  4.8250          0   0.0
18  2011-10-14  13.2574  4.8125          0  -0.0
19  2011-12-02  13.5297  4.8175          0   0.0
20  2012-01-20  13.1788  4.8000          0   0.0
21  2012-03-16  12.6782  4.7900          0   0.0
22  2012-04-27  12.9800  4.7435          0  -0.0
23  2012-06-08  13.9290  4.7850          0  -0.0
24  2012-07-20  13.3391  4.7936          0  -0.0
25  2012-09-07  12.9824  4.8150          0  -0.0
26  2012-10-26  13.0070  4.8450          0  -0.0
27  2012-11-30  12.9370  4.8600          0   0.0
28  2013-01-18  12.6640  4.8505          0   0.0
29  2013-03-08  12.6300  4.7515          0  50.0
..         ...      ...     ...        ...   ...
59  2016-11-17  20.4060  5.7245          0 -25.0
60  2016-12-15  20.3765  5.8732          0 -50.0
61  2017-02-09  20.3695  6.3850          0 -50.0
62  2017-03-30  18.6670  6.8498          0  -0.0
63  2017-05-18  18.7205  6.9541          0 -25.0
64  2017-06-22  18.0475  7.3109          0  -0.0
65  2017-08-10  17.9035  7.3846          0  -0.0
66  2017-09-28  18.1730  7.3850          0  -0.0
67  2017-11-09  19.0580  7.4163          0 -25.0
68  2017-12-14  19.0390  7.5470          0 -25.0
69  2018-02-08  18.8535  7.7627          0  -0.0
70  2018-04-12  18.1865  7.8500          0  -0.0
71  2018-05-17  19.6740  7.8950          0 -25.0
72  2018-06-21  20.2455  8.0250          0 -25.0
73  2018-08-02  18.6080  8.1537          0  -0.0
74  2018-10-04  19.1650  8.1600          0 -25.0
75  2018-11-15  20.2110  8.3228          0 -25.0
76  2018-12-20  19.9285  8.4750          0  -0.0
77  2019-02-07  19.1375  8.5967          0   0.0
78  2019-03-28  19.3440  8.5040          0  -0.0
79  2019-05-16  19.0565  8.5146          0   0.0
80  2019-06-27  19.1430  8.4900          0   0.0
81  2019-08-15  19.6655  8.3750          0  25.0
82  2019-09-26  19.6185  8.0150          0  25.0
83  2019-11-14  19.3760  7.7287          0  25.0
84  2019-12-19  18.9480  7.5575          0  25.0
85  2020-02-13  18.6190  7.3550          0  25.0
86  2020-03-20  24.2160  7.0425          0  50.0
87  2020-04-21  24.3030  6.5015          0  50.0
88  2020-05-14  24.0500  6.0763          0   0.0

[89 rows x 5 columns]

In [33]:
# Assign X (data) and y (target)
X = Banxico_data.drop(["Dif", "Fecha"], axis=1)
y = Banxico_data["Dif"]
print(X.shape, y.shape)

(89, 3) (89,)

In [34]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [35]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [36]:
 classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [37]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.7121212121212122
Testing Data Score: 0.7391304347826086

In [40]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:50]}")
print(f"First 10 Actual labels: {y_test[:50].tolist()}")

First 10 Predictions:   [-0. -0. -0. -0. -0. -0. -0. -0. -0. -0. -0. -0. -0. -0. -0. -0. -0. -0.
 -0. -0. -0. -0. -0.]
First 10 Actual labels: [-50.0, -0.0, -50.0, 0.0, 0.0, -0.0, -25.0, -0.0, 0.0, -0.0, 50.0, -0.0, -25.0, 0.0, 0.0, 0.0, -0.0, 0.0, -0.0, -0.0, -0.0, 0.0, 25.0]

In [41]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

    Prediction  Actual
0         -0.0   -50.0
1         -0.0    -0.0
2         -0.0   -50.0
3         -0.0     0.0
4         -0.0     0.0
5         -0.0    -0.0
6         -0.0   -25.0
7         -0.0    -0.0
8         -0.0     0.0
9         -0.0    -0.0
10        -0.0    50.0
11        -0.0    -0.0
12        -0.0   -25.0
13        -0.0     0.0
14        -0.0     0.0
15        -0.0     0.0
16        -0.0    -0.0
17        -0.0     0.0
18        -0.0    -0.0
19        -0.0    -0.0
20        -0.0    -0.0
21        -0.0     0.0
22        -0.0    25.0